---
name: Yaml Validation

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Lint Yaml
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: yamllint version
      run: |
        yamllint --version
    - name: yamllint run
      run: |
        bash ./scripts/yaml-validate.sh
  schema_validate:
    name: Validate Schema
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: yaml schema check
      run: |
        bash ./scripts/validate.sh
